@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  margin: 0;
  padding-top: 59px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-header {
  font-family: 'Josefin Sans', cursive;
}

.business-heading {
  font-family: 'Josefin Sans', cursive;
  font-size: 32pt;
}

.business-details-image {
  height: 250px;
}

.hours-caret {
  right: 0
}

.map-page {
  height: 89.75vh;
}

.map-sidebar:not(.closed) {
  width: 350px;
}

.map-sidebar.closed {
  width: 45px;
}

.map-sidebar:not(.closed) .sidebar-collapse {
  top: 70px;
  bottom: 0;
  overflow: auto;
}

.sidebar-collapse-header .collapsing,
.map-sidebar.closed .collapsing {
  position: relative !important;
  width: 0 !important;
  overflow: hidden !important;
  transition: width .35s ease !important;
}

.filter-dropdown-menu {
  max-height: 200px;
}

.filter-list-item.bg-dark:hover,
.business-hours-item:hover,
.business-hours-item.active {
  background-color: #292b2d !important;
}

.dollar:before {
  content: '$';
  font-size: 0.7em;
  vertical-align: text-top;
}

.modal-body {
  max-height: 60vh;
}

.form-section .long-form-group {
  margin-right: 16px;
}

.form-section .form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none;
  padding-right: 8px;
}

.business-form .form-control:focus,
.custom-control-input:focus~.custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, .25) !important;
}

.business-form .custom-control-input:checked~.custom-control-label::before {
  border-color: #17a2b8;
  background-color: #17a2b8;
}

.business-submit-button {
  flex: 0;
  padding: 4px 48px !important;
}

.details-tab a:hover {
  border-color: #ffc107 !important;
  background-color: #1d2124 !important;
}

.business-rating {
  font-size: x-large !important;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
  border-top-color: rgba(34, 34, 34, 1) !important;
}

.border.border-transparent {
  border-color: transparent !important;
}

.border-darker {
  border-color: #222 !important;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: monospace;
}

.bg-darker {
  background-color: rgba(34, 34, 34, 1) !important;
}

.bg-darker-50 {
  background-color: rgba(34, 34, 34, 0.5) !important;
}

.font-xs {
  font-size: x-small;
}

.font-sm {
  font-size: small;
}

.font-lg {
  font-size: large;
}

.font-xl {
  font-size: x-large;
}

.font-xxl {
  font-size: xx-large !important;
}

.text-extra-light {
  color: #bbb !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default !important;
}

.no-pointer-events {
  pointer-events: none;
}

.outline-none:focus {
  outline: none;
  box-shadow: none !important;
}

.gm-style-iw,
.gm-style-iw-c {
  min-width: 260px !important;
  max-width: 260px !important;
  width: 260px !important;
}

.gm-style-iw.gm-style-iw-c {
  padding: 10px !important;
  background-color: #343a40!important;
}

.gm-style-iw-d {
  overflow: hidden !important;
  min-width: 100% !important;
  max-width: 100% !important;
  width: 100% !important;
}

.gm-ui-hover-effect {
  width: 12px !important;
  height: 12px !important;
  margin: 10px 12px !important;
  display: none !important;
}

.gm-style .gm-style-iw-t::after {
  background: linear-gradient(45deg,#343a40 50%,
  rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%) !important;
}

.photo-carousel .carousel-control-prev-icon,
.menu-carousel .carousel-control-prev-icon {
  background-image: url(chevron-left-solid.svg);
  height: 100px;
  opacity: 1;
}

.photo-carousel .carousel-control-next-icon,
.menu-carousel .carousel-control-next-icon {
  background-image: url(chevron-right-solid.svg);
  height: 100px;
  opacity: 1;
}

.coffee-button img {
  height: 28px !important;
  width: 28px !important;
  box-shadow: none !important;
  border: none !important;
}

.coffee-button {
  width: 42px;
  height: 42px;
  color: #ffffff !important;
  background-color: #FF813F !important;
  font-size: 24px !important;
  letter-spacing: 0.6px !important;
  box-shadow: 2px 2px 5px 1px #111 !important;
  -webkit-box-shadow: 2px 2px 5px 1px #111 !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -o-transition: 0.3s all linear !important;
  -webkit-transition: 0.3s all linear !important;
  -moz-transition: 0.3s all linear !important;
  -ms-transition: 0.3s all linear !important;
  transition: 0.3s all linear !important;
  font-family: 'Cookie', cursive !important;
}

.bmc-button:hover,
.bmc-button:active,
.bmc-button:focus {
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  text-decoration: none !important;
  box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  opacity: 0.85 !important;
  color: #ffffff !important;
}

@media (min-width: 768px) {
  .details-sidebar {
    width: 300px;
  }

  .menu-tab-content {
    height: 70vh;
    overflow-y: auto;
  }

  .address-link {
    max-width: 250px;
  }
}

/* @media (max-width: 767px) {
  .hours-caret {
    right: -25px;
  }
} */

@media (max-width: 575px) {
  body {
    padding-top: 41px;
  }

  .map-page {
    height: 93.75vh;
  }

  .coffee-button img {
    height: 20px !important;
    width: 20px !important;
  }

  .coffee-button {
    height: 28px !important;
    width: 28px !important;
  }

  .font-xxl {
    font-size: x-large !important;
  }

  .font-xl:not(.business-heading) {
    font-size: large !important;
  }
}

@media (max-width: 400px) and (min-width: 220px) {
  .business-submit-button {
    flex: 1;
  }
}

@media (max-width: 400px) {
  .form-section {
    flex-direction: column;
  }

  .form-section .long-form-group {
    margin-right: 0;
  }

  .hours-text {
    flex-direction: column;
  }

  .hours-and {
    display: none;
  }

  .business-submit-button {
    padding: 4px 8px !important;
  }
}

@media (max-width: 350px) {
  .map-sidebar:not(.closed) {
    width: 100%;
  }

  .address-link {
    max-width: 250px;
  }

  .reviewer-name {
    width: 60px;
  }
}
